- board
  h1: span.board-title.editable data-id="#{id}" data-resource="board" data-field="title" = title
  div.board data-id="#{id}"
    - columns
      div.column data-id="#{id}" data-resource="column"
        h2: span.column-title.editable data-field="title" = title
        button.add-card add card
        div.column-body
          - cards
            div.card data-resource="card" data-id="#{id}"
              div.card-header
                strong.card-title.editable data-field="title" = title
              p.card-body.editable-area data-field="body" = body
javascript:
  function findData(object,name) {
      return $(object).closest("["+name+"]").attr(name)};
  function editableSubmit(){
      return { resource: findData(this,'data-resource'),
               field: findData(this,'data-field'),
               id: findData(this,'data-id')}};
  $("#main .editable-area").editable("/change_field",{
      type: "textarea",
      submit: "OK",
      method: "PUT",
      indicator: "saving...",
      submitdata: editableSubmit,
      cancel: "Cancel"}); 
  $("#main .editable").editable("/change_field",{
      submit: "OK",
      method: "PUT",
      indicator: "saving...",
      submitdata: editableSubmit,
      cancel: "Cancel",
      cssclass: "editing",});
  $("#main .column-body").sortable({
      connectWith: ".column-body",
      handle: ".card-header",
      cancel: ".card-title",
      placeholder: "card-placeholder"});
  $("#main .add-card").click(function(e){
      var col_id = $(e.target).closest('.column')[0].getAttribute('data-id');
      var board_id = $(e.target).closest('.board')[0].getAttribute('data-id');
    $.post('/columns/'+col_id+'/create_card',{},
           function(){displayBoard(board_id)})});
