- board
  h1: span.board-title.editable data-id="#{id}" data-resource="board" data-field="title" = title
  div.board data-id="#{id}"
    - columns
      div.column data-id="#{id}"
        h2: span.column-title.editable data-id="#{id}" data-resource="column" data-field="title" = title
        button.add-card add card
        div.column-body
          - cards
            div.card
              div.card-header
                strong.card-title.editable data-id="#{id}" data-resource="card" data-field="title" = title
              p.card-body.editable data-id="#{id}" data-resource="card" data-field="body" = body
javascript:
  $("#main .card-body").editable("/card",{
      type: "textarea",
      submit: "OK",
      submitdata: { _method: "put",
                    field: "body"},
      cancel: "cancel"}); 
  $("#main .column-title").editable("/column",{
      submit: "OK",
      submitdata: { _method: "put",
                    field: "title" },
      cancel: "cancel"});
  $("#main .card-title").editable("/card",{
      submit: "OK",
      submitdata: { _method: "put",
                    field: "title" },
      cancel: "cancel"});
  $("#main .board-title").editable("/board",{
      submit: "OK",
      submitdata: { _method: "put",
                    field: "title"},
      cancel: "cancel"});
  $("#main .column-body").sortable({
      connectWith: ".column-body",
      handle: ".card-header",
      cancel: ".card-title",
      placeholder: "card-placeholder"});
  $("#main .add-card").click(function(e){
      var col_id = $(e.target).closest('.column')[0].getAttribute('data-id');
      var board_id = $(e.target).closest('.board')[0].getAttribute('data-id');
    $.post('/columns/'+col_id+'/create_card',{},
           function(){displayBoard(board_id)})});
