- board
  h1: span.board-title.editable data-id="#{id}" data-resource="board" data-field="title" = title
  div.board data-id="#{id}"
    - columns
      div.column data-id="#{id}" data-resource="column"
        h2 style="display:table;width:100%"
          span.column-title.editable style="display:table-cell;text-align:left" data-field="title" = title
          span style="display:table-cell;text-align:right" = cards.length
        button.add-card add card
        div.column-body
          - cards
            div.card data-resource="card" data-id="#{id}"
              div.card-header title="double click for detailed view"
                strong.card-title.editable data-field="title" = title
              p.card-body.edit_area data-field="body" = body
javascript:
  function editableSubmit(){
      return { resource: findData(this,'data-resource'),
               field: findData(this,'data-field'),
               id: findData(this,'data-id')}};
  $("#main .edit_area").editable("/change_field",{
      type: "textarea",
      submit: "OK",
      method: "PUT",
      indicator: "saving...",
      submitdata: editableSubmit,
      cancel: "Cancel"});
  $("#main .editable").editable("/change_field",{
      submit: "OK",
      method: "PUT",
      indicator: "saving...",
      submitdata: editableSubmit,
      cancel: "Cancel",
      cssclass: "editing",});
  $("#main .column-body").sortable({
      connectWith: ".column-body",
      handle: ".card-header",
      cancel: ".card-title",
      placeholder: "card-placeholder"});
  $("#main .add-card").click(function(e){
      var col_id = $(e.target).closest('.column')[0].getAttribute('data-id');
      var board_id = $(e.target).closest('.board')[0].getAttribute('data-id');
    $.post('/columns/'+col_id+'/create_card',{},
           function(){displayBoard(board_id)})});
  var i = 100;
  $(function(){
      $('.column').each(function(){
          this.style.zIndex=i--})});
